{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb-typescript/base",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:prettier/recommended",
    "plugin:jest-dom/recommended",
    "prettier"
  ],
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  },
  "env": {
    "jest": true,
    "browser": true,
    "node": true
  },
  "root": true,
  "globals": {
    "jsdom": true
  },
  "ignorePatterns": ["public/*"],
  "rules": {
    "consistent-return": "off",
    "import/no-cycle": "off",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "no-console": "error",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-unsafe-return": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unsafe-member-access": "off",
    "@typescript-eslint/no-unsafe-call": "off",
    "@typescript-eslint/no-unsafe-assignment": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/no-use-before-define": ["error", { "functions": false }],
    "@typescript-eslint/consistent-type-definitions": ["error", "interface"],
    "@typescript-eslint/no-unused-vars": "error"
  },
  "overrides": [
    {
      "files": ["*.test.*"],
      "rules": {
        "@typescript-eslint/unbound-method": "off",
        "@typescript-eslint/no-floating-promises": "off"
      }
    }
  ]
}
